/*Common CSS*/
.btn:focus {
  outline: none;
  box-shadow: none;
}
/*Common CSS end*/
.main_page_layout{
  background: #e0f7f6;
}
/*top bar*/
.top-bar{
  padding-top: 20px;
  background-color: #303030;
  color: white;
}
.text_name{
  font-size: 14px;
}
.text_email{
  color: #007bff;
  font-size: 14px;
}
.text_email:hover{
  color: #ffffff;
}
.top_bar_icon{
  font-size: 11px;
}
.social_icon{
  display: flex;
  float: right;
}
.social_icon_list{
  list-style: none;
  margin-right: 15px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-align: right;
}
.social_icon_icon{
  color: #007bff;
  font-size: 20px;
}
.social_icon_icon:hover{
  color: #ffffff;
}
/*top bar end*/

/*navigation bar*/
.navigation_bar{
  background-color: #3bbbb5;
}
.navbar{
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-brand:hover{
  color: #303030;
  transition: 0.5s color linear;
}
.nav-item{
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(143,145,152,0);
  transition: 0.5s background linear;
}
.nav-item:hover{
  background-color: rgba(143,145,152,1);
  transition: 0.5s background linear;
}
.nav-link{
  text-transform: capitalize;
  color: #303030 !important;
  transition: 0.5s color linear;
}
.nav-item:hover .nav-link{
  color: #ffffff !important;
  transition: 0.5s color linear;
}

.modal_btn{
  background-color: #3bbbb5;
  border: 0;
  border-radius: 0;
  transition: 0.5s background linear;
}
.modal_btn:hover{
  background-color: rgba(143,145,152,1);
  transition: 0.5s background linear;
}
.modal_btn:hover{
  transition: 0.5s color linear;
  color: #ffffff !important;
}
/*navigation bar end*/

/*hero area*/
#header {
  background: url(./assets/images/header-bg.jpg) no-repeat center top fixed;
  background-size: cover;
}

#overlay-1 {
  /* background-color: rgba(32, 30, 30, 0.52); */
  background-color: rgba(33, 32, 42, 0.44);
  /* background-color: rgba(17, 55, 46, 0.75); */
  position: relative;
  height: 90vh;
}
.middle{
  padding-top: 5%;
}
.pro-name {
  font-size: 100px;
  margin: 0;
  margin-bottom: 15px;
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Source Sans Pro', sans-serif; */
  /* font-family: 'Niconne', cursive; */
  font-weight: 400;
  font-family: 'Rouge Script', cursive;
  line-height: 90px;
  color: #fff;
  letter-spacing: 1px;
  word-spacing: 6px;
  text-shadow: -2px -2px #000;
}
.tagline {
  font-size: 27px;
  margin-bottom: 60px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 56px;
  word-spacing: 2px;
  text-shadow: 2px 2px #1c2725;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.btn-hire {
  text-transform: uppercase;
  color: #111;
  border: 1px solid rgb(136, 138, 145);
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  word-spacing: 5px;
  letter-spacing: 1px;
  box-shadow: 0 3px 1px 0 rgb(20 20 26 / 55%);
  border-radius: 0;
  font-size: 18px;
  background-color: rgba(247, 255, 248, 1);
  padding: 16px 48px;
}
.btn-hire:hover {
  color: #fff;
  border: 1px solid #878A91;
  background-color: rgba(32, 36, 47, 0.94);
}

/*hero area end*/

/*service start*/
.service-area {
  margin: 80px 0px 40px 0px;
}
.block_title {
  font-size: 4em;
  font-weight: 300;
  text-align: center;
  overflow: hidden;
  margin-bottom: 70px;
}
.block_title:before {
  right: 0.5em;
  margin-left: -42%;
}
.block_title:after {
  left: 0.5em;
  margin-right: -42%;
}
.block_title:before, .block_title:after {
  content: "";
  background: #ccc;
  display: inline-block;
  height: 1px;
  position: relative;
  width: 42%;
  vertical-align: middle;
}
.services {
  max-width: 293px;
  height: 263px;
}
.service-wrap {
  width: 100%;
  height: 100%;
  border: 1px solid #B5B5B5;
  text-align: center;
  display: block;
  border-radius: 50%;
}

.service-wrap i {
  margin-top: 40px;
  transition: all 0.3s ease;
}

.pe-dj {
  font-size: 5em;
}
.service-wrap h3 {
  margin: 10px 0px;
}
.service-wrap p {
  padding: 0px 40px;
  font-size: 13px;
}
/*service end*/

/*portfolio start*/
.work_box{
  -webkit-box-shadow: 0px 1px 2px 0px rgb(0 0 0);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.18);
  -ms-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.18);
  -o-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 1px 2px 0px rgb(0 0 0);
}
.work_details{
  position: relative;
}
.work_box:hover .work_overlay_small{
  height: 0;
  padding-top: 0;
  padding-left: 0;
  transition: all linear 0.35s;
}
.work_overlay_small{
  position: absolute;
  clip-path: polygon(0 1%, 100% 29%, 100% 100%, 0% 100%);
  height: 42%;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #ffffff;
  opacity: 0.7;
  transition: all linear 0.35s;
  padding-top: 45px;
  padding-left: 15px;
}
.work_overlay_full{
  position: absolute;
  height: 0;
  width: 100%;
  left: 0;
  top: 0;
  background: #000000;
  opacity: 0.6;
  transition: all linear 0.35s;
}
.work_box:hover .work_overlay_full{
  height: 100%;
  transition: all linear 0.35s;
}
.link_icon_box{
  width: 30%;
  margin: 0 auto;
}
/*portfolio end*/

/*contact start*/
#contact {
  background: url("./assets/images/contact-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}
.contact_area {
  margin: 80px 0px 0px 0px;
}
.contact_overlay{
  padding: 60px 0;
   background-color: rgba(9, 20, 39, 0.83);
   /*background-color: rgba(24, 77, 77, 0.93);*/
  /*background-color: rgba(33, 103, 88, 0.9);*/
  /*background-color: rgba(0, 0, 0, 0.9);*/
}
.styled-input.agile-styled-input-top {
  margin-top: 0;
}

.styled-input {
  width: 100%;
  margin: 2em 0 1em;
  position: relative;
}
.contact_area input[type="text"], .contact_area textarea {
  font-size: 1em;
  color: #ffffff;
  padding: 0.5em 1em;
  border: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
  background: none;
  -webkit-appearance: none;
  outline: none;
}
.styled-input ::placeholder {
  color: #1dadd3;
  padding: 0.5em .9em;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
  font-weight: 400;
  font-size: 1em;
  display: block;
  line-height: 1em;
}
.contact_area textarea {
  min-height: 13em;
}

.styled-input input ~ span, .styled-input textarea ~ span {
  display: block;
  width: 0;
  height: 2px;
  background: #ec407a;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.125s;
  -moz-transition: all 0.125s;
  transition: all 0.125s;
}
.contact_send_btn{
  outline: none;
  color: #fff;
  padding: .8em 4em;
  font-size: 1em;
  margin: 1em 0 0 0;
  -webkit-appearance: none;
  background: #ec407a;
  border: solid 1px #ec407a;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
}
/*contact end*/

/*footer bar*/
.footer{
  background-color: #3bbbb5;
}
/*footer bar end*/

/*modals*/
/*about modals*/
.about-left img {
  border: 5px solid #1dadd3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  padding: 10px;
  height: 350px;
  width: 350px;
}
.about-right h3 {
  font-size: 2.5em;
  color: #fff;
}
.about-right h3 span {
  color: #f3286c;
}
.about-right h4{
  font-size: 1.2em;
  color: #a5a5a5;
  margin-top: 1em;
}

ul.address {
  margin-top: 1.5em;
  border-top: 1px dashed #1d7288;
  padding-top: 0.5em;
}

ul, label {
  margin: 0;
  padding: 0;
}
ul.address li {
  display: block;
}
ul.address li ul.agileits-address-text li:nth-child(1) {
  width: 20%;
}

ul.address li ul.agileits-address-text li {
  display: inline-block;
  font-size: 1.2em;
  color: #fff;
  margin-top: 1em;
  font-weight: 100;
}
.about-text {
  padding: 3em 3em 0;
}
.about-text p {
  font-size: 1em;
  color: #fff;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: justify;
}
.about-text p.agile-br {
  margin-top: 1em;
  text-align: justify;
}
/*about modals end*/
