/*Common CSS*/
.btn:focus {
  outline: none;
  box-shadow: none;
}
/*Common CSS end*/
.main_page_layout{
  background: #e0f7f6;
}
/*top bar*/
.top-bar{
  padding-top: 20px;
  background-color: #303030;
  color: white;
}
.text_name{
  font-size: 14px;
}
.text_email{
  color: #007bff;
  font-size: 14px;
}
.text_email:hover{
  color: #ffffff;
}
.top_bar_icon{
  font-size: 11px;
}
.social_icon{
  display: flex;
  float: right;
}
.social_icon_list{
  list-style: none;
  margin-right: 15px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-align: right;
}
.social_icon_icon{
  color: #007bff;
  font-size: 20px;
}
.social_icon_icon:hover{
  color: #ffffff;
}
/*top bar end*/

/*navigation bar*/
.navigation_bar{
  background-color: #3bbbb5;
}
.navbar{
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-brand:hover{
  color: #303030;
  transition: 0.5s color linear;
}
.nav-item{
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(143,145,152,0);
  transition: 0.5s background linear;
}
.nav-item:hover{
  background-color: rgba(143,145,152,1);
  transition: 0.5s background linear;
}
.nav-link{
  text-transform: capitalize;
  color: #303030 !important;
  transition: 0.5s color linear;
}
.nav-item:hover .nav-link{
  color: #ffffff !important;
  transition: 0.5s color linear;
}
.modal_btn{
  background-color: #3bbbb5;
  border: 0;
  border-radius: 0;
  transition: 0.5s background linear;
}
.modal_btn:hover{
  background-color: rgba(143,145,152,1);
  transition: 0.5s background linear;
}
.modal_btn:hover{
  transition: 0.5s color linear;
  color: #ffffff !important;
}
/*navigation bar end*/

/*hero area*/
#header {
  background: url(./assets/images/header-bg.jpg) no-repeat center top fixed;
  background-size: cover;
}

#overlay-1 {
  /* background-color: rgba(32, 30, 30, 0.52); */
  background-color: rgba(33, 32, 42, 0.44);
  /* background-color: rgba(17, 55, 46, 0.75); */
  position: relative;
  height: 90vh;
}
.middle{
  padding-top: 5%;
}
.pro-name {
  font-size: 100px;
  margin: 0;
  margin-bottom: 15px;
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Source Sans Pro', sans-serif; */
  /* font-family: 'Niconne', cursive; */
  font-weight: 400;
  font-family: 'Rouge Script', cursive;
  line-height: 90px;
  color: #fff;
  letter-spacing: 1px;
  word-spacing: 6px;
  text-shadow: -2px -2px #000;
}
.tagline {
  font-size: 27px;
  margin-bottom: 60px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 56px;
  word-spacing: 2px;
  text-shadow: 2px 2px #1c2725;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.btn-hire {
  text-transform: uppercase;
  color: #111;
  border: 1px solid rgb(136, 138, 145);
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  word-spacing: 5px;
  letter-spacing: 1px;
  box-shadow: 0 3px 1px 0 rgb(20 20 26 / 55%);
  border-radius: 0;
  font-size: 18px;
  background-color: rgba(247, 255, 248, 1);
  padding: 16px 48px;
}
.btn-hire:hover {
  color: #fff;
  border: 1px solid #878A91;
  background-color: rgba(32, 36, 47, 0.94);
}

/*hero area end*/

/*footer bar*/
.footer{
  background-color: #3bbbb5;
}
/*footer bar end*/

/*modals*/
/*about modals*/
.about-left img {
  border: 5px solid #1dadd3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  padding: 10px;
  height: 350px;
  width: 350px;
}
.about-right h3 {
  font-size: 2.5em;
  color: #fff;
}
.about-right h3 span {
  color: #f3286c;
}
.about-right h4{
  font-size: 1.2em;
  color: #a5a5a5;
  margin-top: 1em;
}

ul.address {
  margin-top: 1.5em;
  border-top: 1px dashed #1d7288;
  padding-top: 0.5em;
}

ul, label {
  margin: 0;
  padding: 0;
}
ul.address li {
  display: block;
}
ul.address li ul.agileits-address-text li:nth-child(1) {
  width: 20%;
}

ul.address li ul.agileits-address-text li {
  display: inline-block;
  font-size: 1.2em;
  color: #fff;
  margin-top: 1em;
  font-weight: 100;
}
.about-text {
  padding: 3em 3em 0;
}
.about-text p {
  font-size: 1em;
  color: #fff;
  line-height: 2em;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: justify;
}
.about-text p.agile-br {
  margin-top: 1em;
  text-align: justify;
}
/*about modals end*/
